@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --bg-color: #2D033B;
  --text-color: #f7f7f7;
  --accent-color: #C147E9;
  --primary-color: #810CA8;
  --secondary-color: #E5B8F4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Press Start 2P', cursive;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow: hidden; /* Prevent scrolling on mobile/desktop */
  touch-action: none; /* Prevent pull-to-refresh on mobile */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none; /* Prevent text selection while tapping */
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
